VITE_API_BASE_URL=http://localhost:5001
VITE_ASGARDEO_CLIENT_ID=your_client_id_here
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/your_org_name
VITE_SIGN_IN_REDIRECT=http://localhost:5173
VITE_SIGN_OUT_REDIRECT=http://localhost:5173
